<footer class="main">
  <div class="content">
    <div class="copyright">
      © Copyright {{actualYear}} {{siteName}} | Hybrid photographer based in Hungary
    </div>
  </div><!-- div.content -->
</footer><!-- footer.main -->

<footer class="main">
  <div class="content">
    <div class="copyright">
      © {{actualYear}} {{siteName}}
    </div>
  </div><!-- div.content -->
</footer><!-- footer.main -->
<footer class="main">
  <div class="content">
    <div class="copyright">
      © {{actualYear}} {{siteName}}
    </div>
  </div><!-- div.content -->
</footer><!-- footer.main -->
<footer class="main">
  <div class="content">
    <div class="copyright">
      © {{actualYear}} {{siteName}}
    </div>
  </div><!-- div.content -->
</footer><!-- footer.main -->