<div class="toggle-mobile-nav">
  <div class="menu-button">Menu <span>≡</span></div>
</div>

<div class="navigation">

  <nav class="main-nav left-nav">
    <ul>
      <li><a href="/">{{{__ "Főoldal"}}}</a></li>
      <li><a href="/stories">{{{__ "Történetek"}}}</a>
      <ul>
        <li><a href="/blog/szalai-family">{{{__ "Szalai család"}}}</a></li>
        <li><a href="#">Barbi &#38; Balázs</a></li>
      </ul>
      </li>
    </ul>
  </nav><!-- nav.main-nav.left  -->

  <!--<div class="logo logo-nav">
    <a href="/"><img class="logo-svg" src="/images/42362-O3GR1G-work.svg" alt="{{siteName}}" /></a>
  </div>-->

  <nav class="main-nav right-nav">
    <ul>
      <li><a href="/blog">{{{__ "Blog"}}}</a>
        <ul>
          <li><a href="/blog">{{{__ "Összes"}}}</a></li>
          <li><a href="/category/wedding">{{{__ "Esküvő"}}}</a></li>
          <li><a href="/category/family">{{{__ "Család"}}}</a></li>
          <li><a href="/category/for-photographers">{{{__ "Fotósoknak"}}}</a></li>
        </ul>
      </li>
      <li><a href="#">{{{__ "Információ"}}}</a>
        <ul>
          <li><a href="/services">{{{__ "Szolgáltatások"}}}</a></li>
          <li><a href="{{language}}/contact">{{{__ "Kapcsolat"}}}</a></li>
        </ul>
      </li>
    </ul>
  </nav><!-- nav.main-nav-right  -->

</div><!-- div.navigation -->
