<div class="toggle-mobile-nav">
  <div class="menu-button">Menu <span>≡</span></div>
</div>

<div class="navigation">

<!-- Történetek Blog | Info Kapcsolat! -->
<!-- Stories Blog | Info Contact -->

  <nav class="main-nav left-nav">
    <ul>
      <!--<li class="{{#if active.index}}active{{/if}}"><a href="{{language}}/">{{{__ "Főoldal"}}}</a></li>-->
      <li><a href="{{language}}/stories">{{{__ "Történetek"}}}</a>
        <ul>
          <li><a href="{{language}}/blog/szalai-family">{{{__ "Szalai család"}}}</a></li>
          <li><a href="#">Barbi &#38; Balázs</a></li>
        </ul>
      </li>
      <li style="-webkit-transform: translate3d(0,0,0) !important; transform: translate3d(0,0,0) !important;" class="{{#if active.blog}}active{{/if}}"><a href="{{language}}/blog">{{{__ "Blog"}}}</a>
        <ul>
          <li><a href="{{language}}/blog">{{{__ "Összes"}}}</a></li>
          <li><a href="{{language}}/category/wedding">{{{__ "Esküvő"}}}</a></li>
          <li><a href="{{language}}/category/family">{{{__ "Család"}}}</a></li>
          <li><a href="{{language}}/category/for-photographers">{{{__ "Fotósoknak"}}}</a></li>
        </ul>
      </li>
    </ul>
  </nav><!-- nav.main-nav.left  -->

  <div class="logo logo-nav">
    <!--<a href="{{language}}/"><img class="logo-svg" src="/images/42362-O3GR1G-work.svg" alt="{{siteName}}" /></a>-->
    <a href="{{language}}/"><img class="logo-svg" src="/images/lantosistvan-logo-20160407-006-final.svg" alt="{{siteName}}" /></a>
  </div>

  <nav class="main-nav right-nav">
    <ul>
      <!--<li class="{{#if active.blog}}active{{/if}}"><a href="{{language}}/blog">{{{__ "Blog"}}}</a>
        <ul>
          <li><a href="{{language}}/blog">{{{__ "Összes"}}}</a></li>
          <li><a href="{{language}}/category/wedding">{{{__ "Esküvő"}}}</a></li>
          <li><a href="{{language}}/category/family">{{{__ "Család"}}}</a></li>
          <li><a href="{{language}}/category/for-photographers">{{{__ "Fotósoknak"}}}</a></li>
        </ul>
      </li>-->
      <!--<li class="{{#if active.information}}active{{/if}}"><a href="#">{{{__ "Információ"}}}</a>-->
      <li class="{{#if active.information}}active{{/if}}"><a href="#">{{{__ "Info"}}}</a>
        <ul>
          <li><a href="{{language}}/services">{{{__ "Szolgáltatások"}}}</a></li>
          <li><a href="{{language}}/contact">{{{__ "Kapcsolat"}}}</a></li>
        </ul>
      </li>
      <li class="{{#if active.contact}}active{{/if}}"><a href="/contact">{{{__ "Kapcsolat"}}}</a></li>
    </ul>
  </nav><!-- nav.main-nav-right  -->

</div><!-- div.navigation -->
