<div class="toggle-mobile-nav">
  <a href="#" class="menu">Menu <span>≡</span></a>
</div>

<div class="navigation">
  <nav class="main-nav">
    <ul>
      <li><a href="/">{{{__ "Főoldal"}}}</a></li>
      <li><a href="/">Portfolio</a>
        <ul>
          <li><a href="/">{{{__ "Esküvők"}}}</a></li>
          <li><a href="/families">{{{__ "Család"}}}</a></li>
        </ul>
      </li>
      <li><a href="/stories">{{{__ "Történetek"}}}</a>
      <ul>
        <li><a href="/blog/szalai-family">{{{__ "Szalai család"}}}</a></li>
        <li><a href="#">Barbi &#38; Balázs</a></li>
      </ul>
      </li>
      <li><a href="/blog">Blog</a>
        <ul>
          <li><a href="/blog">{{{__ "Összes"}}}</a></li>
          <li><a href="/category/wedding">{{{__ "Esküvő"}}}</a></li>
          <li><a href="/category/family">{{{__ "Család"}}}</a></li>
          <li><a href="/category/family">{{{__ "Fotósoknak"}}}</a></li>
        </ul>
      </li>
      <li><a href="/information">{{{__ "Szolgáltatások"}}}</a></li>
      <li><a href="/about-me">{{{__ "Rólam"}}}</a></li>
    </ul>
  </nav><!-- nav.main-nav  -->
</div><!-- div.navigation -->
