{{ render "partials/layout-top.hbs"}}

<div class="container">

{{ render "partials/header.hbs"}}

{{{yield}}}

{{ render "partials/footer.hbs"}}

</div><!-- div.container -->

{{ render "partials/layout-bottom.hbs"}}
