<div class="main portfolio lazyload">
  <div class="content sidescroll">
    <ul class="images">
      {{#each data.images}}
      <li><img src="{{../data.imagesFolder}}{{this}}" alt="{{../siteName}}"></li>
      {{else}}
      <p class="empty">No content</p>
      {{/each}}
      <!-- access to parent's property with "../" -->
    </ul><!-- ul.images -->
  </div><!-- div.content.sidescroll -->
</div><!-- div.main.portfolio -->

<main class="frontpage">
  <div class="content">

    <article class="welcome">
      <header class="article welcome">
        <h1 class="widget-title">Üdvözlet</h1>
      </header><!-- header.article.welcome -->
      <div class="text">
        <p>Sziasztok! Ha épp van egy szabad szombatom, akkor egy vitorlázógép botkormányából csavarok vizet egy termikben. Ekkor a Nap helyzetén túl a széliránnyal is kalkulálnom kell. Ha két lábbal a földön állok, akkor szeretek a Nappal szembe fotózni, amikor pedig tesztelem a tériszonyom, akkor a napos oldalra helyezkedni és hátszéllel siklani. &#9786;</p>
        <p>Esküvőfotósként a dokumentarista stílust vallom magaménak. Imádom elkapni a pillanatot, amikor a dolgok egész egyszerűen csak történnek a szemem előtt.</p>
        <p>A fotográfián kívül érdekel a webdizájn, paleo, vitorlázórepülés, biogazdálkodás, cinematográfia, utazás, fa megmunkálás, diy, vizuális inspirálódás és a filmek. Ha ezek közül bármi klappolna veletek, akkor van még egy ok felkeresni. &#9786;</p>
        <p>Említettem már, hogy szeretek utazni? Ha netán jegyes fotózásra vagy esküvő helyszínre egy egyedi ötletetek van -&#62; elmegyek akárhova! &#128642; &#9786;</p>
        <p>Ha nektek is tériszonyotok van, akkor keressetek meg az <a href="/info">Info</a> menüpont alatti elérhetőségeken.</p>
      </div><!-- div.article -->
    </article><!-- article.welcome -->

    <div class="latest-posts-title">
      <h2 class="widget-title">Legfrissebb sorozatok</h2>
    </div><!-- latest-posts-title -->
    <div class="latest-posts">
      {{#each latestPosts.[0].articles}}
        <article class="id-{{this._id}}">

          <a href="/journal/{{this.url}}">
            <header class="article id-{{this._id}}">
              <h1>{{this.title}}</h1>
              <div class="category">{{this.category}}</div>
            </header><!-- header.article.id-{{this._id}} -->
          </a>
          
          <img src="{{imagesFolder}}{{preview}}" alt="">

        </article><!-- article.id-{{this._id}} -->

      <!-- post -->

      {{else}}
      <h1>Error 404</h1>
      <h2>Content not found</h2>
      {{/each}}
    </div><!-- .latest-posts -->

  </div><!-- .content -->
</main><!-- main -->