<main class="blog">

  {{#each data.videos}}
  <article class="id-{{this.video_id}}">

    <header class="header-blog">
      <!--<time>{{this.month}} {{this.day}}, {{this.year}}</time>-->
      <h1><a href="{{this.url}}">{{this.title}}</a></h1>
    </header>

    <div class="default_thumb">
      <a href="{{this.url}}"><img src="{{this.default_thumb}}" alt="" /></a>
    </div>

    <div class="thumbs">
      {{#each thumbs}}
      <img src="{{this.src}}" width="{{this.width}}" height="{{this.height}}" alt="" />
      {{else}}
      <p>No tags</p>
      {{/each}}
    </div>

  </article><!-- article.id-{{this.id}} -->

  <!-- post -->

  {{else}}
  <h1>Error 404</h1>
  <h2>Content not found</h2>
  {{/each}}

  <nav id="pagination"></nav><!-- nav.pagination -->

</main><!-- main.users -->

<script type="text/javascript">
(function() {
  function pagination(number) {
    var url = window.location.href;
    var page = parseInt(url.match(/[^/]+$/));
    if((page + number) < 1) {
      return;
    };
    var link = '<a class="pagination-link" href="' + url.replace(/[^/]+$/, '') + (page + number) + '">' + (page + number) + '</a>';
    document.getElementById('pagination').innerHTML += link;
    //console.log(link);
    //console.log(url.replace(/[^/]+$/, ''));
  };
  for (var i=-5; i<6; i++) {
    pagination(i);
  };

  pageLinks = document.getElementsByClassName('pagination-link');
  //pageLinks = document.querySelectorAll('a.pagination-link');
  for (var j=0; j<pageLinks.length; j++) {
    if(pageLinks[j].getAttribute('href') === window.location.href) {
      pageLinks[j].style.color = '#f69';
      //console.log('found match');
    };
  };

  // Remove every lines with: <li><a href="/en/tube/videos/category//1"></a></li>
  /*emptyLinks = document.getElementsByClassName('nav-category');
  for (var k=0; k<emptyLinks.length; k++) {
    emptyLinksParent = emptyLinks.parentElement;
    emptyLinksHref = emptyLinks[k].getAttribute('href');
    if(emptyLinksHref.match(/^.*?\b(category\/\/1)\b.*$/igm)) {
      emptyLinksParent[k].style.display = 'none';
      console.log('MATCH');
    };
  };*/

  // Animate image sequence when hovering left/right
  // http://stackoverflow.com/questions/23384113/how-to-animate-image-sequence-when-hovering-left-right-using-jquery
  // http://stackoverflow.com/questions/15257089/jquery-animating-a-sequence-images
  //
  // http://buildinternet.com/2011/09/cycle-through-images-on-hover-with-jquery/
  //
  // Try this:
  // http://tympanus.net/codrops/2012/05/09/how-to-create-a-fast-hover-slideshow-with-css3/
})();
</script>
