<main class="blog">

  {{#each data.eporner-data.movie}}
  <article class="id-{{this.id}}">

    <header class="header-blog">
      <!--<div class="drawing">
        <img src="{{this.drawing}}" alt="">
      </div>
      <time>{{this.month}} {{this.day}}, {{this.year}}</time>-->
      <h1><a href="{{this.loc}}">{{this.title}}</a></h1>
      <!--<div class="category"><a href="{{../language}}/category/{{this.category}}">{{this.category}}</a></div>-->
    </header>

    <div class="imgthumb">
      <a href="{{this.loc}}"><img src="{{this.imgthumb320x240}}" alt="" /></a>
    </div>

    <footer class="footer-blog">
      <div class="tags">
        <span class="text">Tags: </span>
        <ul>
          {{#each tags}}
          <li><a href="{{../../language}}/tag/{{this}}">{{this}}</a></li>
          {{else}}
          <li>No tags</li>
          {{/each}}
        </ul>
      </div>
    </footer>

  </article><!-- article.id-{{this.id}} -->

  <!-- post -->

  {{else}}
  <h1>Error 404</h1>
  <h2>Content not found</h2>
  {{/each}}

  <nav id="pagination"></nav><!-- nav.pagination -->

</main><!-- main.users -->

<script type="text/javascript">
(function() {
  /*var url = window.location.href;
  console.log(url.replace(/[^/]+$/, ''));
  var page = parseInt(url.match(/[^/]+$/)),
      pageMinusFive = '<a href="' + url.replace(/[^/]+$/, '') + (page - 5) + '">' + (page - 5) + '</a>',
      pageMinusFour = '<a href="' + url.replace(/[^/]+$/, '') + (page - 4) + '">' + (page - 4) + '</a>',
      pageMinusThree = '<a href="' + url.replace(/[^/]+$/, '') + (page - 3) + '">' + (page - 3) + '</a>',
      pageMinusTwo = '<a href="' + url.replace(/[^/]+$/, '') + (page - 2) + '">' + (page - 2) + '</a>',
      pageMinusOne = '<a href="' + url.replace(/[^/]+$/, '') + (page - 1) + '">' + (page - 1) + '</a>',
      pageZero = '<a href="' + url.replace(/[^/]+$/, '') + page + '">' + page + '</a>',
      pagePlusOne = '<a href="' + url.replace(/[^/]+$/, '') + (page + 1) + '">' + (page + 1) + '</a>',
      pagePlusTwo = '<a href="' + url.replace(/[^/]+$/, '') + (page + 2) + '">' + (page + 2) + '</a>',
      pagePlusThree = '<a href="' + url.replace(/[^/]+$/, '') + (page + 3) + '">' + (page + 3) + '</a>',
      pagePlusFour = '<a href="' + url.replace(/[^/]+$/, '') + (page + 4) + '">' + (page + 4) + '</a>',
      pagePlusFive = '<a href="' + url.replace(/[^/]+$/, '') + (page + 5) + '">' + (page + 5) + '</a>';
  if(page === 0) {
    pageMinusFive = false;
    pageMinusFour = false;
    pageMinusThree = false;
    pageMinusTwo = false;
    pageMinusOne = false;
  };*/

  /*document.getElementById('pagination').onload = function() {
    pagination(0);
  };*/

  function pagination(number) {
    var url = window.location.href;
    var page = parseInt(url.match(/[^/]+$/));
    if((page + number) < 0) {
      return;
    }
    var link = '<a href="' + url.replace(/[^/]+$/, '') + (page + number) + '">' + (page + number) + '</a>';
    document.getElementById('pagination').innerHTML += link;

    console.log(link);
    //console.log(url.replace(/[^/]+$/, ''));
  };
  for (var i=-5; i<6; i++) {
    pagination(i);
  };

  /*console.log(
    'pageMinusFive: ' + pageMinusFive + ',\n' +
    'pageMinusFour: ' + pageMinusFour + ',\n' +
    'pageMinusThree: ' + pageMinusThree + ',\n' +
    'pageMinusTwo: ' + pageMinusTwo + ',\n' +
    'pageMinusOne: ' + pageMinusOne + ',\n' +
    'pageZero: ' + pageZero + ',\n' +
    'pagePlusOne: ' + pagePlusOne + ',\n' +
    'pagePlusTwo: ' + pagePlusTwo + ',\n' +
    'pagePlusThree: ' + pagePlusThree + ',\n' +
    'pagePlusFour: ' + pagePlusFour + ',\n' +
    'pagePlusFive: ' + pagePlusFive
  );*/
})();
</script>
