<main class="blog">

  {{#each data.eporner-data.movie}}
  <article class="id-{{this.id}}">

    <header class="header-blog">
      <!--<div class="drawing">
        <img src="{{this.drawing}}" alt="">
      </div>
      <time>{{this.month}} {{this.day}}, {{this.year}}</time>-->
      <h1><a href="{{this.loc}}">{{this.title}}</a></h1>
      <!--<div class="category"><a href="{{../language}}/category/{{this.category}}">{{this.category}}</a></div>-->
    </header>

    <div class="imgthumb">
      <a href="{{this.loc}}"><img src="{{this.imgthumb320x240}}" alt="" /></a>
    </div>

    <footer class="footer-blog">
      <div class="tags">
        <span class="text">Tags: </span>
        <ul>
          {{#each tags}}
          <li><a href="{{../../language}}/tag/{{this}}">{{this}}</a></li>
          {{else}}
          <li>No tags</li>
          {{/each}}
        </ul>
      </div>
    </footer>

  </article><!-- article.id-{{this.id}} -->

  <!-- post -->

  {{else}}
  <h1>Error 404</h1>
  <h2>Content not found</h2>
  {{/each}}

  <nav class="pagination">
    {{#if paginationFirst}}<a href="{{language}}/{{divClass}}{{#if paginationParamsSlash}}/{{/if}}{{paginationParams}}{{#if paginationFirstURL}}/page/{{paginationPrev}}{{/if}}">Previous</a> | {{/if}}
    {{#if paginationLast}}<a href="{{language}}/{{divClass}}{{#if paginationParamsSlash}}/{{/if}}{{paginationParams}}/page/{{paginationNext}}">Continue</a>{{/if}}
  </nav><!-- nav.pagination -->

  <nav class="paginator">
    {{#each paginator}}
    <a href="{{language}}/{{keywords}}/{{this}}">{{this}}</a>
    {{else}}
    No paginator
    {{/each}}
  </nav><!-- nav.pagination -->

</main><!-- main.users -->

<script type="text/javascript">
var page = parseInt(window.location.href.match(/[^/]+$/)),
    pageMinusFive = page - 5,
    pageMinusFour = page - 4,
    pageMinusThree = page - 3,
    pageMinusTwo = page - 2,
    pageMinusOne = page - 1,
    pagePlusOne = page + 1,
    pagePlusTwo = page + 2,
    pagePlusThree = page + 3,
    pagePlusFour = page + 4,
    pagePlusFive = page + 5;
console.log(
  'pageMinusFive: ' + pageMinusFive + ',\n' +
  'pageMinusFour: ' + pageMinusFour + ',\n' +
  'pageMinusThree: ' + pageMinusThree + ',\n' +
  'pageMinusTwo: ' + pageMinusTwo + ',\n' +
  'pageMinusOne: ' + pageMinusOne + ',\n' +
  'page: ' + page + ',\n' +
  'pagePlusOne: ' + pagePlusOne + ',\n' +
  'pagePlusTwo: ' + pagePlusTwo + ',\n' +
  'pagePlusThree: ' + pagePlusThree + ',\n' +
  'pagePlusFour: ' + pagePlusFour + ',\n' +
  'pagePlusFive: ' + pagePlusFive
);
</script>
