<main class="blog">

  {{#each data.eporner-data.movie}}
  <article class="id-{{this.id}}">

    <header class="header-blog">
      <!--<div class="drawing">
        <img src="{{this.drawing}}" alt="">
      </div>
      <time>{{this.month}} {{this.day}}, {{this.year}}</time>-->
      <h1><a href="{{this.loc}}">{{this.title}}</a></h1>
      <!--<div class="category"><a href="{{../language}}/category/{{this.category}}">{{this.category}}</a></div>-->
    </header>

    <div class="imgthumb">
      <a href="{{this.loc}}"><img src="{{this.imgthumb320x240}}" alt="" /></a>
    </div>

    <footer class="footer-blog">
      <div class="tags">
        <span class="text">Tags: </span>
        <ul>
          {{#each tags}}
          <li><a href="{{../../language}}/tag/{{this}}">{{this}}</a></li>
          {{else}}
          <li>No tags</li>
          {{/each}}
        </ul>
      </div>
    </footer>

  </article><!-- article.id-{{this.id}} -->

  <!-- post -->

  {{else}}
  <h1>Error 404</h1>
  <h2>Content not found</h2>
  {{/each}}

  <nav id="pagination"></nav><!-- nav.pagination -->

</main><!-- main.users -->

<script type="text/javascript">
(function() {
  function pagination(number) {
    var url = window.location.href;
    var page = parseInt(url.match(/[^/]+$/));
    if((page + number) < 0) {
      return;
    };
    var link = '<a class="pagination-link" href="' + url.replace(/[^/]+$/, '') + (page + number) + '">' + (page + number) + '</a>';
    document.getElementById('pagination').innerHTML += link;
    //console.log(link);
    //console.log(url.replace(/[^/]+$/, ''));
  };
  for (var i=-5; i<6; i++) {
    pagination(i);
  };

  pageLinks = document.getElementsByClassName('pagination-link');
  //pageLinks = document.querySelectorAll('a.pagination-link');
  for (var j=0; j<pageLinks.length; j++) {
    if(pageLinks[j].getAttribute('href') === window.location.href) {
      pageLinks[j].style.color = '#f69';
      //console.log('found match');
    };
  };
})();
</script>
