<div class="main portfolio">
  <div class="content sidescroll">
    <ul class="images lazyload2">
      {{#each data.images}}
      <li><img src="{{../data.imagesFolder}}{{this}}" alt="{{../siteName}}"></li>
      {{else}}
      <p class="empty">No content</p>
      {{/each}}
      <!-- access to parent's property with "../" -->
    </ul><!-- ul.images -->
  </div><!-- div.content.sidescroll -->
</div><!-- div.main.portfolio -->

<main class="frontpage">
  <div class="content">

    {{ render "partials/welcome.hbs"}}

    {{ render "partials/latest-posts.hbs"}}

  </div><!-- .content -->
</main><!-- main -->
