<main class="blog">

  <article class="id-{{data._id}}">

    <header class="header-blog id-{{data._id}}">
      <div class="drawing">
        <img src="{{data.drawing}}" alt="">
      </div>
      <time>{{data.month}} {{data.day}}, {{data.year}}</time>
      <h1><a href="{{language}}/blog/{{data.url}}">{{data.title}}</a></h1>
      <div class="category"><a href="{{language}}/category/{{data.category}}">{{data.category}}</a></div>
    </header><!-- .header-blog.id-{{data._id}} -->

    <div class="article content">
    
      {{{__ data.body}}}

    </div><!-- div.article.content -->

    <footer class="footer-blog id-{{data._id}}">
      <div class="tags">
        <span class="text">Tags: </span>
        <ul>
          {{#each data.tags}}
          <li><a href="{{../language}}/tag/{{this}}">{{this}}</a></li>
          {{else}}
          <li>No tags</li>
          {{/each}}
        </ul>
      </div>
    </footer><!-- .footer-blog.id-{{data._id}} -->

  </article><!-- article.id-{{data._id}} -->

</main><!-- main.blog -->